/* ==================================================
 *
 * Brooke Golden
 * Copyright 2015 2 Fish Creative, LLC. 
 * All Rights Reserved.
 * Written for http://www.brookegolden.com 
 *           & http://www.brookegolden.net
 *
 * COLORS:
 * Off-black: #414141
 * Teal: #318086
 * Aqua: #98e3df
 * Red: #eb1152
 *
 ================================================== */
 
 /* ------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Header
:: Social Icons
-------------------------------------------------- */

/* -------------------------------------------------
   Shared Styles
------------------------------------------------- */

html, 
body {
  background: url('../img/lightpaperfibers.png');
  color: #414141;
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.6em;
}

h1 {
  font-family: "bebas-neue";
  font-size: 1.2em;
}

h3 {
  font-family: "sorts-mill-goudy", serif;
  font-style: italic;
}

a {
  text-decoration: none;
  color: #717171;
}

a:visited {
  color: #318086;
}

a:hover {
  color: #eb1152;
}

/* -------------------------------------------------
   Header
------------------------------------------------- */

header {
  margin-top: 20px;
}

/* -------------------------------------------------
   Social Icons
------------------------------------------------- */

@font-face {
    font-family: 'si';
    src: url('../socicon/socicon.eot');
    src: url('../socicon/socicon.eot?#iefix') format('embedded-opentype'),
         url('../socicon/socicon.woff') format('woff'),
         url('../socicon/socicon.ttf') format('truetype'),
         url('../socicon/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
 
}
 
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(../socicon/socicon.svg) format(svg);
    }
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-right: 10px;
    color: #f5f5f5;
    background-color: #bda895;
}

.soc a:hover {
    z-index: 2;
    background-color:#a99481 !important;
}

.soc-icon-last{
    margin:0 !important;
}

.soc-linkedin:before {
    content:'j';
}
.soc-facebook:before {
    content:'b';
}
.soc-google:before {
    content:'c';
}
.soc-pinterest:before {
    content:'d';
}
.soc-twitter:before {
    content:'a';
}