/* ==================================================
 *
 * Brooke Golden
 * Copyright 2015 2 Fish Creative, LLC. 
 * All Rights Reserved.
 * Written for http://www.brookegolden.com 
 *           & http://www.brookegolden.net
 *
 * COLORS:
 * Off-black: #414141
 * Teal: #318086
 * Aqua: #98e3df
 * Red: #eb1152
 *
 ================================================== */
 
 /* ------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
-------------------------------------------------- */

/* -------------------------------------------------
   Shared Styles
------------------------------------------------- */

html, 
body {
  background: url('../img/lightpaperfibers.png');
  color: #414141;
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.6em;
  letter-spacing: 0.4em;
}

h3 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  color: #aaaaaa;
  padding-bottom: 1.0em;
}

a {
  text-decoration: none;
  color: #717171;
}

a:visited {
  color: #318086;
}

a:hover {
  color: #eb1152;
}

